.resume {
    display: flex;
    flex-direction: column;
    padding-left: 130px;
    padding-right: 130px;
    margin-top: 100px;
    gap: 70px;
}

.resume-page {
    display: flex;
    justify-content: center;    
}

iframe {
    width: 100%;
    height: 600px;
    margin: 0;
}

#resume {
    scroll-margin-top: 3em;
}